<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AddMedicamentServlet</servlet-name>
        <servlet-class>com.mycompany.pharmacy.servlets.AddMedicamentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateMedicamentServlet</servlet-name>
        <servlet-class>com.mycompany.pharmacy.servlets.UpdateMedicamentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteMedicamentServlet</servlet-name>
        <servlet-class>com.mycompany.pharmacy.servlets.DeleteMedicamentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PharmacienRegisterServlet</servlet-name>
        <servlet-class>com.mycompany.pharmacy.servlets.PharmacienRegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PharmacieRegisterServlet</servlet-name>
        <servlet-class>com.mycompany.pharmacy.servlets.PharmacieRegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClientRegisterServlet</servlet-name>
        <servlet-class>com.mycompany.pharmacy.servlets.ClientRegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClientLoginServlet</servlet-name>
        <servlet-class>com.mycompany.pharmacy.servlets.ClientLoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddMedicamentServlet</servlet-name>
        <url-pattern>/AddMedicamentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateMedicamentServlet</servlet-name>
        <url-pattern>/UpdateMedicamentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteMedicamentServlet</servlet-name>
        <url-pattern>/DeleteMedicamentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PharmacienRegisterServlet</servlet-name>
        <url-pattern>/PharmacienRegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PharmacieRegisterServlet</servlet-name>
        <url-pattern>/PharmacieRegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClientRegisterServlet</servlet-name>
        <url-pattern>/ClientRegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClientLoginServlet</servlet-name>
        <url-pattern>/ClientLoginServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
