/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 19 avr. 2023, 17:33:58
    Author     : abdou
*/

.left-section {
    margin-top: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
}

.left-section a {
    padding-right: 18px;
    text-decoration: none;
    color: #00dd00;
}

.add,.logout {
    background-color: #f8f8f8;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add:hover,.logout:hover {
    border-color: #c6c6c6;
    background-color: #f0f0f0;
}